@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  text-align: center;
}

/* Modal Content/Box */
.modal-content {
  /* background-color: #fefefe; */
  margin: 10px; auto; /* 15% from the top and centered */
  /*padding: 10px;*/
  /* border: 1px solid #888; */
  /*width: 95%;  Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

#myModal img {
    height: 95%;
    padding: 10px;
    vertical-align: middle;
}

#br-icon{
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 100;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.58);
    -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    -webkit-transform:  scale(0.92);
        transform: scale(0.92);
    background-image: url(icon.png);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: center;
}
#br-icon::before{
    background-image: url(icon.png);
    position: absolute;
    top: 35%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    color: #000;
    font-size: 28px;
    font-weight: 600;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body{
        zoom: 0.5;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body{
        zoom: 0.8;
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body{
        zoom: 0.9;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 600px) {
    body{
        zoom: 1;
    }
    .textContentAndroid{
        max-width: 180px;
        font-size: 2.5vw;
        margin: auto;
    }
    .textContent{
        max-width: 250px;
        padding: 10px;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1000px) {
    body{
        zoom: 1.5;
    }
    .textContent{
        font-size: 2.5vw;
        max-width: 250px;
    }
    .textContentAndroid{
        font-size: 2vw;
        background-color: white;
        max-width: 250px;
    }
    #myModal img {
           
    }
}